<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="../bootstrap/bootstrap.min.css"
        rel="stylesheet">
  <link href="../style/template.css"
        rel="stylesheet">
</head>
<style>
  .row {
    background-color: #0E0F1C;
  }

  h2, h4{
    color: #FFFFFF;
  }

  span{
    font-size: 5px;
  }

  .col-12{
    margin-top: 20%;
  }
  .cont{

    height: 100vh;
    width: 100vw;
    background-color: #0E0F1C;
  }
</style>
<body>
<div class="container-fluid cont">
  <div class="row d-flex justify-content-center align-items-center" >
    <div class="col-12 text-center d-flex justify-content-center align-items-center">
      <form  th:action="@{/attachment/add}"
             th:object="${att}" method="post" enctype="multipart/form-data">

        <input placeholder="Название" th:field="*{name}" type="text"/><br><br>
        <input placeholder="Короткое описание" th:field="*{fileShortDescription}" type="text"/><br><br>
        <input placeholder="Полное описание" th:field="*{fileFullDescription}" type="text"/><br><br>

        <select th:field="*{mainTag}">
          <option th:value="3D-печать">3D-печать</option>
          <option th:value="Тактика">Тактика</option>
          <option th:value="Медицина">Медицина</option>
          <option th:value="Инструкции">Инструкции</option>
          <option th:value="Другое">Другое</option>
        </select><br><br>
        <h3>Превью</h3><input type="file" name="preview" id="preview" accept="image/png"><br>
        <h3>Файл</h3><input type="file" name="content" id="content" accept="application/zip">
        <br><br>
        <input type="submit" value="Добавить">
      </form>
    </div>
  </div>
</div>




</body>
</html>
