<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <div th:each="message : ${messageList}" style="border: #FFFFFF 2px solid">

            <div style="color: #0E0F1C">
                <span th:text="${message.messageId}"></span><br>
                <span th:text="${message.category}"></span><br>
                <span th:text="${message.tags}"></span><br>
                <span th:text="${message.fileDescription}"></span><br>
                <span th:text="${message.sendAt}"></span><br>
                <a th:href="@{/download/file/{id}(id = ${message.messageId})}" download>Скачать</a>
                <br><br>
            </div>


    </div>
</div>

</body>
</html>