<!DOCTYPE html>
<html lang="ru"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:text="${message.attId}"></span><br>
<span th:text="${message.name}"></span><br>
<span th:text="${message.fileFullDescription}"></span><br>
<span th:text="${message.fileShortDescription}"></span><br>
<span th:text="${message.addedAt}"></span><br>

<a th:href="@{/download/file/{id} (id=${message.attId}) }" class="tag-link-size48 float-end" download>Скачать</a>
<hr>

<form  th:action="@{/attachment/confirm/{id}(id = ${message.messageId})}"
 th:object="${att}" method="post" enctype="multipart/form-data">

    <input th:field="*{name}" type="text"/><br><br>
    <input th:field="*{fileShortDescription}" type="text"/><br><br>
    <textarea th:field="*{fileFullDescription}" type="text" rows="5"
              cols="40"></textarea><br><br>

    <select th:field="*{mainTag}">
        <option th:value="3D-печать">3D-печать</option>
        <option th:value="Тактика">Тактика</option>
        <option th:value="Медицина">Медицина</option>
        <option th:value="Инструкции">Инструкции</option>
        <option th:value="Другое">Другое</option>
    </select><br><br>

    <input type="file" name="file" id="file" accept="image/png">

    <input type="number" min="0" max="" th:field="*{priority}" value="true">Добавить на главную?</input>
    <br><br>
    <input type="submit">Подтвердить</input>
</form>


</form>



</body>
</html>